*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 10vh;
    width: 100%;
    background: goldenrod;
}

nav{ 
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{

    flex: 1;
    text-align: right;

}

.nav-links ul li{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after{
    width: 100%;

}

.text-box{

    width: 50%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 12px;
}



.early-col{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.row{

    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}